body {
    background-color: #f8f9fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.main-content {
    flex: 1; /* conteúdo se ajusta dinamicamente */
    padding: 2rem;
    background-color: #f8f9fa; 
    overflow-y: auto;
}

.card-login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,0.15);
    border-radius: 8px;
    background-color: #ffffff;
}

.google-btn {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    font-weight: 500;
}

.google-btn:hover {
    background-color: #e9ecef;
}

.google-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.btn-entrar{
    background-color: #A2C4C9;
    color: #ffffff;
}
.btn-filtrar{
    background-color: #A2C4C9;
    color: #ffffff;
}

.sidebar {
    background-color: #ffffff;
    color: #000000;
    width: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
    border-right: 2px solid #000000;
}

.sidebar .nav-link {
    color: #000000;
    display: flex;
    flex-direction: column; /* ícone em cima, texto embaixo */
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 0;
    text-align: center;
    transition: color 0.3s ease;
}

.sidebar .nav-link.active {
    color: #A2C4C9;
}

.menu-inferior .nav-link {
    color: #000000;
    transition: color 0.2s;
}
.menu-inferior .nav-link:hover {
    color: #dc3545; 
}   

.nav-link.active i {
    color: #A2C4C9;
  }

.nav-link {
    white-space: nowrap; 
    overflow: visible;  
    display: flex;
    align-items: center;
    gap: .5rem;
}

.sidebar {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0; 
    min-width: 110px;
    background: #f8f9fa;
}

.sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}

.sidebar .nav-link:hover {
    color: #A2C4C9;
}

.table {
    background-color: transparent;
}

.table th, .table td {
    background-color: transparent;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-green {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}
.btn-green:hover {
    background-color: #45a049;
    border-color: #45a049;
}
#info {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
#info.visivel {
    display: block;
    opacity: 1;
    
}

#infoEditaAgendamento {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}
  
#infoEditaAgendamento.visivel {
    max-height: 500px;
    opacity: 1;
}

ul.exames {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
.itemExames {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.itemExames button i {
    margin-left: 8px; 
}

.itemExames a {
    display: flex;
    justify-content: center;
}